@font-face {
    font-family: GeomanistRegular;
    src: url(../static/fonts/geomanist/geomanist-regular-italic-webfont.eot);
    font-weight:400;
}

body{
  background-image:url('https://s-media-cache-ak0.pinimg.com/564x/7b/c3/a3/7bc3a3b5e1fd74354b6a5b5317b940a5.jpg');
  margin:5% 25%
}
*{
  color:#fff;
  text-align:center;
}
h1{
  font-family: "GeomanistRegular", Helvetica, sans-serif;
  text-transform:uppercase;
}
.headline h1{
  border-bottom:1px solid #fff;
}
.content{
  margin:10%;
}