
body{
  background-color:$background-color;
  font:{
    size:$base-font-size;
    weight:$base-font-weight;
    color:$white;
  }
  margin:auto;
  text-align:center;
}
h1{
  color:$neon-pink;
  font:{
    family: 'Permanent Marker', cursive;
    size:6em;
    height:.5;
  }
}
h2{
  color:$neon-pink;
  font:{
    family: 'Permanent Marker', cursive;
    size:3em;
  }
  line-height:.5;
}
h3{
  color:$neon-pink;
  font:{
    family: 'Permanent Marker', cursive;
    size:2em;
  }
}
p{
  font:{
    family: 'Bitter', serif;
    size:1.25em;
    color:$white;
  }
}
div.headline{
  position:relative;
  top:10%;
  margin:auto;
  text-align:center;
  -ms-transform: rotate(-9deg); /* IE 9 */
    -webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
    transform: rotate(-9deg);
}
div.content{
  position:relative;
  margin-top:100px;
}